body {
    background-color: #d6d6d6;
    margin: 0;
    padding: 0;
    position: relative;
}

h1.main-title {
    text-align: center;
    font-size: 36px;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    color: #0f5685;
}
.chat-box {
    background-color: #ffffff; /* White */
    /* width: 100vw; */
    max-width: 100%;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vw; /* Adjust the height as needed */
    overflow-y: auto;
}
.chat-messages-container {
    height: 300px;
    overflow-y: auto;
    
    width: 75%; 
    max-width: 100%;
    
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    scrollbar-color: transparent;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f1f1f1;
}
li {
    word-break: break-word;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    margin: 10px;
    
}
#api-form {
    text-align: center;
    margin-top: 20px;
    position: fixed;
    bottom: 40px;

    left: 50%;
    transform: translateX(-50%);
}

#user-input {
    width: 400px;
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}

#api-form input[type="submit"] {
    background-color: #094268;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
}

#api-form input[type="submit"]:hover {
    background-color: #062c46;
}

#button {
    font-family: 'Montserrat', sans-serif; 
}