<!DOCTYPE html>
<html>
    <head>
        <title>GenAIBox</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../scripts/openai.js"></script>
    </head>
    <body>

        <h1>GenAIBox</h1>

        <div class="chat-box">
            <ul>
                {% content %}
            </ul>
        </div>

        <form id="api-form">
            <input type="text" name="user_input" id="user-input" placeholder="Enter text...">
            <input type="submit" value="Submit">
        </form>
    </body>
</html>